body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4fcf4;
}

.box {
  text-align: center;
}

.p1 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: blue;
}

.p2 {
  font-family: Georgia, serif;
  font-weight: bold;
  color: green;
}
